version: '3.9'
services:
  mysql:
    build:
      context: ./
    ports:
      - '3306:3306'
    volumes:
      - './volumes/container_data:/var/lib/mysql'
    environment:
      - TZ=Asia/Seoul
      - MYSQL_ROOT_PASSWORD=root
